 body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.header {
  text-align: center;
  background-color: rgb(44, 44, 44);
  color: white;
  border-radius: 0;
  padding: 5px;
  margin-bottom: 5px;
}

#wicon{
  margin-bottom: 10px;
}

.card-header {

  margin-right: 0;
}

#title-area{
margin-top: 10px;
}

.card-title-area {
  display: inline;  
 margin-left: 15px;
 
}

p {
  padding-bottom: 10px;
}


#find-city{
  background-color: blue;
  color: white;
}

#city-form{  
  margin-top: 3px;
  margin-left: 6px;
  margin-bottom: 20px;  
}


#current-day-area {
background-color: rgb(255, 255, 255);
border-style: thin;
border-style: solid;
margin-left: 10px;
}

.card-body{
  padding-left: 15px;
}

.card-text-uv {
  padding-top: 10px;
  border-top: 10px;
}

#five-day-area {
  padding-top: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.card-text {
  margin-top: 15px;
}

.separator{
  
  width: 15%;
  
}

.container {
  margin-left: 10px;
  margin-right: 0;
}
.card-text-uv1   {
  background-color: green;
}

.card-text-uv2  {
  background-color: yellow;
}

.card-text-uv3  {
  background-color: red;
}

.list-city-group {
  display: block;
  padding: 10px;
  background-color: white;  
  width: 85%;
  text-align: left;
  margin-left: 5px;  
}

.list-group-city{
  padding-left: 0;
}

.col-sm1{
  width: 25%;
  height: 100%;
  float:left;
  background-color: rgb(245, 245, 245);
}

.col-sm2 {
  width: 75%;
  float: right;
  
}

.list-group {
  background-color: rgb(51, 0, 253);
  color: white;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  
  }

  .ultraViolet{    
     float: right;
     border-radius: 5px;
     padding: 10px;
     margin: 0;
     color: white;
  }
  
  li {
    padding: 5px;
  margin: 5px;
  
  }
  
  ul {
    list-style: none
    
  }


 